* {
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family:Arial;
    font-size:30px;
    text-align:center;
}

main {
    position:relative;
    width:98%;
    height:auto;
    margin:auto;
    margin-top:20px;
}

#cabecalho {
    position:relative;
    width:100%;
    height:auto;
    padding-top:20px;
    padding-bottom:20px;
    background-color:#000;
    font-size:40px;
    color:#FFF;
}

#menu {
    position:relative;
    width:100%;
    height:30px;
    background-color:#0000CC;
    text-align:left;
    color:#FFF;
}

#lateral {
    position:relative;
    width:20%;
    height:540px;
    background-color:#CCCCAA;
    color:#FFF;
    padding-top:10px;
    float:left;
}

section {
    position:relative;
    width:60%;
    height:550px;
    background-color:#9999CC;
    color:#FFF;
    float:left;
}

#cabecalho-sec {
    position:relative;
    width:95%;
    height:50px;
    background-color:#FFF;
    margin:auto;
    color:#000;
    padding-top:20px;
}

#div1 {
    position:relative;
    width:95%;
    height:170px;
    background-color:#CCAAAA;
    margin:auto;
    color:#FFF;
    margin-top:15px;
    padding-top:10px;
}

p {
    position:relative;
    width:94%;
    height:100px;
    background-color:#CCFFFF;
    margin:auto;
    font-size:12px;
    color:#000;
    text-align:left;
    text-transform: uppercase;
    margin-top:15px;
    padding-left:10px;
    padding-top:10px;
}

#div2, #div3, #div4 {
    position:relative;
    width:30%;
    height:105px;
    background-color:#666;
    margin-left:2.5%;
    margin-top:15px;
    padding-top:10px;
    float:left;
}

aside {
    position:relative;
    width:20%;
    height:540px;
    background-color:#CC99CC;
    color:#FFF;
    padding-top: 10px;
    float:left;
}

footer {
    position:relative;
    width:100%;
    height:50px;
    background-color:#000;
    color:#FFF;
    padding-top:10px;
    clear:left;
}

.paginas {
    font-size: 18px;
    font-family: sans-serif;
    background-color: #ddd;
    text-decoration: none;
    margin: auto;
    width: 170px;
    margin-top: 2%;
    margin-bottom: 4%;
}

.anterior {
    padding-right: 5%;
}